%span.text.text--large
  = t('workarea.admin.segment_rules.summaries.geolocation.description_html', locations: selected_segment_geolocation_options(rule.locations).map { |o| %("#{o.first}") }.join(', '))
