%span.text.text--large
  - if rule.within?
    = t('workarea.admin.segment_rules.summaries.last_order.within_description_html', count: rule.days)
  - else
    = t('workarea.admin.segment_rules.summaries.last_order.not_within_description_html', count: rule.days)
