%span.text.text--large
  - minimum = rule.minimum.presence || 0
  - if minimum == rule.maximum
    = t('workarea.admin.segment_rules.summaries.revenue.single_value_description_html', amount: number_to_currency(minimum))
  - else
    - max = rule.maximum.present? ? number_to_currency(rule.maximum) : '∞'
    = t('workarea.admin.segment_rules.summaries.revenue.description_html', minimum: number_to_currency(minimum), maximum: max)
