- if rule.medium.present?
  %span.text.text--large
    %span #{t('workarea.admin.fields.medium')}:
    %strong= rule.medium.titleize
    ,

- if rule.source.present?
  %span.text.text--large
    %span #{t('workarea.admin.fields.source')}:
    %strong= rule.source
