.grid.grid--auto.grid--right.grid--middle
  .grid__cell= link_to t('workarea.admin.payment_transactions.aux_navigation.view_order_link', id: model.order_id), order_path(model.order_id), local_assigns[:html_options]
