= inline_svg_tag 'workarea/admin/icons/calendar.svg', title: t('workarea.admin.shared.publishing_select.when_do_these_changes_publish'), class: 'release-select__icon'
= select_tag :publishing, publishing_options_for_select, class: 'release-select__input', data: { unsaved_changes_ignore: '', publish_with_release_menu: 'async' }, id: nil
%span →

.tooltip-content{ data: { disable_publish_now_warning: '' } }
  %p= t('workarea.admin.shared.publishing_select.warning_message')
