.content-editor
  .content-editor__area
    .content-block.content-block--inactive
    .content-block.content-block--active
  .content-editor__form-actions
    %button{ data: { content_editor_form_cancel: '' } }

  .content-editor__aside{ style: 'display: none' }
