= button_tag 'Help', id: 'help_button', data: { help_lookup_button: '' }

%title Workarea Admin Foo
%h1 Bar
%h2 Baz
%h3 Qux
%p Quux

#new_scope
  %title New Scope Workarea Corge
  %h1 New Scope Admin Grault
