.release-select--emphasize
  .release-select__container

  #release-select-reminder.tooltip-content
    %a{ href: '#', data: { release_reminder_yes: '' } } Yes
    %a{ href: '#', data: { release_reminder_no: '' } } No
