#header.header
  .header__menu
    = link_to 'Open', '#', class: 'header__menu-button header__menu-button--open'
    = button_tag 'Close', type: 'button', class: 'header__menu-button header__menu-button--close', id: 'takeover_close_button'
