/*------------------------------------*\
    #BUTTON-RESET
\*------------------------------------*/

%button-reset,
.button-reset {
    margin:  0;
    padding: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    background: none;
    border: 0;
    border-radius: 0;
    overflow: visible;
    user-select: none;
}
