/*------------------------------------*\
    #INLINE-LIST
\*------------------------------------*/

%inline-list,
.inline-list {
    margin:  0;
    padding: 0;
    list-style: none;

    > li {
        display: inline-block;
    }
}
