.divider-content-block{ class: ("divider-content-block--#{height}" if local_assigns[:height].present?) }
  .divider-content-block__line{ class: ('hidden' unless local_assigns[:show_line]), style: "border-bottom-style: #{style}; border-bottom-width: #{thickness}px;" }
