<div class="message message--<%= type %>" data-target="flash.message">
    <p class="message__type">
        <span class="message__icon">
            <%= title %>
        </span>
    </p>
    <p class="message__text">
        <%= text %>
    </p>
</div>
