<tr class='direct-upload__table-row'>
    <td class='direct-upload__table-cell direct-upload__table-cell--file-name'>
        <%= fileName %>
    </td>
    <td class='direct-upload__table-cell direct-upload__table-cell--file-status'>
        <span data-direct-upload-file-status=''>
            <%= I18n.t('workarea.admin.direct_uploads.pending_status') %>
        </span>
    </td>
</tr>
