<div class="help-helper">
    <div class="help-helper__body">
        <div class="help-helper__leg help-helper__leg--left">
            <svg class="help-helper__svg" width="35" height="56" viewBox="0 0 35 56" xmlns="http://www.w3.org/2000/svg">
                <path d="M34.557.393h-5.97v49.294H.458v5.759h34.098z" fill="#2C3036" fill-rule="evenodd"/>
            </svg>
        </div>
        <div class="help-helper__leg help-helper__leg--right">
            <svg class="help-helper__svg" width="35" height="56" viewBox="0 0 35 56" xmlns="http://www.w3.org/2000/svg">
                <path d="M.295.393h5.971v49.294h28.127v5.759H.295z" fill="#2C3036" fill-rule="evenodd"/>
            </svg>
        </div>

        <div class="help-helper__head">
            <div class="help-helper__face help-helper__face--background">
                <svg class="help-helper__svg" width="133" height="41" viewBox="0 0 133 41" xmlns="http://www.w3.org/2000/svg">
                    <path d="M131.687 41.007l-.005-.164C136.103 15.968 107.786.831 71.337.855 34.841.89 1.462 16.14.043 39.96l-.014.034h.01c-.003.004-.003.004 0 0-.003.004-.003.004 0 0l.304-.003s.307-.804.917-1.657c7.98-9.583 36.393-26.077 68.49-26.105 32.816-.023 54.994 13.808 61.305 27.392a6.27 6.27 0 0 1 .324 1.384h.267c.007.004.008.013.014.017-.002-.01-.002-.01.003-.02l.024.005" fill="#C1C9CA" fill-rule="evenodd"/>
                </svg>
            </div>
            <div class="help-helper__face help-helper__face--inside">
                <svg class="help-helper__svg" width="95" height="128" viewBox="0 0 95 128" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M13.454 7.163l.142-.079c19.006-16.5 46.368.333 64.905 31.943 18.556 31.645 22.517 68.347 2.881 81.71l-.025.021v-.009l-.156-.25s.534-.683.954-1.652c4.12-11.79 3.756-44.816-12.564-72.659C52.898 17.727 29.787 5.56 14.96 7.003c-.77.152-1.343.415-1.343.415l-.137-.224c-.01 0-.018.005-.027.005l.016-.012-.016-.024" fill="#DA2B3B"/>
                        <path d="M13.393 7.231l.06-.068.02.018c.109-.077.057-.04 0 0l.145.237s-.486.607-.914 1.484C8.494 20.5 8.771 53.764 25.191 81.774c16.62 28.33 39.602 40.527 54.44 39.205.888-.153 1.57-.48 1.57-.48l.149.246c.01 0 .016-.012.019-.016-.006.009-.01.016-.02.016l.008.013-.081.047c-19.013 16.627-46.429-.213-64.991-31.868-18.558-31.646-22.52-68.342-2.892-81.706" fill="#A2282B"/>
                    </g>
                </svg>
            </div>
            <div class="help-helper__face help-helper__face--foreground">
                <svg class="help-helper__svg" width="133" height="41" viewBox="0 0 133 41" xmlns="http://www.w3.org/2000/svg">
                    <path d="M132.658 1.093l.03-.086-.025-.005-.284.003s-.264.72-.796 1.536c-7.768 9.553-36.338 26.256-68.632 26.274-2.515.008-4.96-.08-7.34-.237-9.225-.973-15.3-2.145-19.022-3.062C18.439 20.65 6.23 11.087 1.733 1.597a6.515 6.515 0 0 1-.39-1.606L1.05 0l-.021-.007.007.092c-3.51 19.317 12.698 32.779 37.142 37.86 2.08.535 4.707.949 7.489 1.255 4.994.651 10.25.994 15.7.991.555-.004 1.116-.017 1.675-.024.31.009.483.007.483.007l-.01-.015c35.649-.614 67.75-15.723 69.143-39.067" fill="#2C3036" fill-rule="evenodd"/>
                </svg>
            </div>
        </div>

        <div class="help-helper__features">
            <div class="help-helper__eye help-helper__eye--left">
                <svg class="help-helper__svg" width="36" height="28" viewBox="0 0 36 28" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="98.22" cy="44.925" rx="17.255" ry="12.941" transform="translate(-80 -31)" stroke="#2C3036" fill="#FFF" fill-rule="evenodd"/>
                </svg>
                <div class="help-helper__pupil">
                    <svg class="help-helper__svg" width="16" height="17" viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
                        <ellipse cx="103.918" cy="44.213" rx="7.869" ry="7.869" transform="translate(-96 -36)" fill="#2C3036" fill-rule="evenodd"/>
                    </svg>
                </div>
            </div>
            <div class="help-helper__eye help-helper__eye--right">
                <svg class="help-helper__svg" width="36" height="28" viewBox="0 0 36 28" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="98.22" cy="44.925" rx="17.255" ry="12.941" transform="translate(-80 -31)" stroke="#2C3036" fill="#FFF" fill-rule="evenodd"/>
                </svg>
                <div class="help-helper__pupil">
                    <svg class="help-helper__svg" width="16" height="17" viewBox="0 0 16 17" xmlns="http://www.w3.org/2000/svg">
                        <ellipse cx="103.918" cy="44.213" rx="7.869" ry="7.869" transform="translate(-96 -36)" fill="#2C3036" fill-rule="evenodd"/>
                    </svg>
                </div>
            </div>

            <div class="help-helper__eyebrow help-helper__eyebrow--left">
                <svg class="help-helper__svg" width="39" height="22" viewBox="0 0 39 22" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.698 9.854C13.2 13.362.256 21.765.256 21.765s6.69-8.76 14.028-13.579C19.332 4.87 31.756.402 31.756.402s6.137.042 6.847 1.107c.87 1.304-2.107 6-2.107 6s-9.33.087-14.798 2.345z" fill="#2C3036" fill-rule="evenodd"/>
                </svg>
            </div>
            <div class="help-helper__eyebrow help-helper__eyebrow--right">
                <svg class="help-helper__svg" width="41" height="18" viewBox="0 0 41 18" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.922 8.363c8.863 2.447 22.734 9.21 22.734 9.21s-7.707-7.88-15.578-11.769C19.663 3.128 6.788.207 6.788.207S.7.997.125 2.14c-.705 1.402 2.822 5.7 2.822 5.7s9.272-1.051 14.974.523z" fill="#2C3036" fill-rule="evenodd"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="help-helper__burger">
        <svg class="help-helper__burger-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 272 200">
            <path d="M272,40V64h-8V56c-3,0-5.5,0-8,.2V64H128V56c-3,0-5.5,0-8,.2V64H0V32H16V16H32V0h8V8c3,0,5.5,0,8-.2V0H160V8c3,0,5.5,0,8-.2V0h40V8c3,0,5.5,0,8-.2V0h24V16h16V32h8v8h8ZM120,16.2l8-.6v-7a1,1,0,0,0-.4-0.4H120v8Zm80.2-.3-0.5-8h-7a1,1,0,0,0-.5,0v8h8ZM88,16H80v7.6h8V16ZM64,32l-0.6-8h-7a1,1,0,0,0-.4.4V32h8Zm88-8h-8v7.6h8V24Zm72.2,0v8c2.7-.4,5.3,0,7.6-0.4V24h-7.6Zm8,31.6h7.6V48H232v7.6h0.2ZM168,48h-8v7.6h8V48ZM79.7,56V48c-2.7.2-5.3-.3-7.6,0.2V56h7.6ZM16,55.7h8V48H16v7.7ZM96.3,40v8h7.6V40H96.3Zm88-8v8h7.6V32h-7.6Zm-56,8.2,7.7-.6c-0.2-2.3,0-4.6,0-7a1,1,0,0,0-.4-0.4H128v8h0.3Zm-96-.4H40V32.2H32v7.6h0.3ZM272,160v24h-8v8h-8v8H16v-8H8v-8H0V160H272Z" style="fill:#ce9f34"/>
            <path d="M264,160H8v-8H0V120H16v7.8H128.2V120h104v8l24-.2V120H272v32h-8v8Z" style="fill:#6d3f21"/>
            <path d="M272,120H256.2v7.8h-24V120h-104v8L16,127.6V120H0V104H8.2V96.2H24v8a66.8,66.8,0,0,0,0,7.6h8V104h8V96H72v7.8H88V96h56v8h16v7.8h8v-8h16V96h48v8h8V96h24.2v8H272v16Z" style="fill:#58ae30"/>
            <path d="M240,96v8h-8V96h-8V80.2H112V88h-8.2A69.6,69.6,0,0,0,96,88v8H88v7.8H72v-16H63.8V80H7.8v8H0V72H8V64H264v8h8v8H240V96Z" style="fill:#e1d639"/>
            <path d="M0,88H7.8V80.2h56v7.6H72V96H40v8H32v8H24a66.8,66.8,0,0,1,0-7.7v-8H8.2V104H0V88Zm240,8V80h32v24h-7.8V96H240Z" style="fill:#c01b1b"/>
            <path d="M48,0V8c-2.5.2-5,0-8,0V0h8ZM168,0V8c-2.5.2-5,0-8,0V0h8Zm48,0V8c-2.5.2-5,0-8,0V0h8Zm48,32h8v8h-8V32ZM120,16.2v-8h7.6a1,1,0,0,1,.4.6v7Zm80.2-.2h-8V8.3a1,1,0,0,1,.6-0.4h6.8ZM88,16.2v7.6H80c-0.2-2.3,0-5,0-7.6h8ZM64.2,32h-8V24.4a1,1,0,0,1,.5-0.4h7ZM152,24.2v7.6h-8V24.2h8Zm72.2-.2h7.6v8c-2.3.5-5,0-7.6,0.3V24ZM264,64h-8V56h8v8ZM128,64h-8V56h8v8Zm104-8.2V48.2h7.8v7.6H232Zm-64-7.6v7.6h-8V48.2h8ZM79.8,56H72.2V48c2.3-.5,5,0,7.6-0.3V56ZM16,55.8V48.2h8c0.2,2.3,0,5,0,7.6H16ZM96.2,40h7.6v8c-2.3.2-5,0-7.6,0V40Zm88-8h7.6v8c-2.3.2-5,0-7.6,0V32ZM128,40.2v-8h7.6a1,1,0,0,1,.4.6v7Zm-96-.4V32.2h8v7.6H32Z" style="fill:#efca76"/><path d="M96,96V88.2a69.6,69.6,0,0,1,7.8-.2h8V80.2H224V96H184v7.8H168.2v8h-8V104h-16V96H96Z" style="fill:#c01b1b"/>
        </svg>
    </div>

    <div class="help-helper__mini-helper">
        <svg class="help-helper__mini-helper-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 84.39 81.51">
            <path d="M12.3,81A11.7,11.7,0,0,1,9,80.6C1.6,79.2.8,72,.8,71c-2-11,6.5-15,9.4-16-1-5.5,0-10,2.4-13.3a12,12,0,0,1,6.5-4.3,9.7,9.7,0,0,1-1-7.4c1.7-5.6,7.7-9.5,10-11-2-3.8,2.5-10.4,4.3-12.7A4.8,4.8,0,0,1,30.5,3a3,3,0,0,1,1-2.2A0.8,0.8,0,0,1,32,.6c7.4-1.2,17.7,8.5,18,9,7.5,6.2,7,12,6.5,14.3,4.2,1,7,2.6,8.4,5.4a10,10,0,0,1,0,7.6q7.3,2.4,9.6,7.6c1.8,4.2.4,8.6-.4,10.6,4,1.5,7,3.8,8.5,6.8a13,13,0,0,1,.8,9.2c-6.6,15.2-48,8-51.5,7.2-10.8,2-16.8,2.5-20,2.5Z" transform="translate(0 0)" style="fill:#6d4021;stroke:#000;stroke-miterlimit:10"/>

            <g class="help-helper__mini-helper-eye">
                <path d="M30.5,57c-5,0-9-5.4-9-12s4-12,9-12,9,5.4,9,12S35.5,57,30.5,57Z" transform="translate(0 0)" style="fill:#fff;stroke:#000;stroke-miterlimit:10"/>
                <ellipse cx="30.5" cy="45" rx="4" ry="6.1" style="fill:#1d1d1b"/>
            </g>
            <g class="help-helper__mini-helper-eye">
                <path d="M53.8,57c-5,0-9-5.4-9-12s4-12,9-12,9,5.4,9,12S58.8,57,53.8,57Z" transform="translate(0 0)" style="fill:#fff;stroke:#000;stroke-miterlimit:10"/>
                <ellipse cx="53.8" cy="45" rx="4" ry="6.1" style="fill:#1d1d1b"/>
            </g>
        </svg>
    </div>
    <div class="help-helper__takeover"></div>

</div>

