<div class="help-helper-text">
    <p class="help-helper-text__intro"><%= intro %></p>
    <% if ( ! _.isNull(message)) { %>
        <p class="help-helper-text__message"><%= message %></p>
    <% } %>
</div>
