<!-- TODO: v4 remove -->
<form action="<%= url %>" method="post">
    <input type="hidden" name="<%= csrfParam %>" value="<%= csrfToken %>" />
    <input type="hidden" name="release_id" value="<%= releaseId %>" />
</form>
