= hidden_field_tag 'product_rule[name]', 'available_inventory', id: nil
Inventory must be
= select_tag 'product_rule[operator]', options_for_select(product_rule_operators, rule.operator)
= number_field_tag 'product_rule[value]', rule.value.presence || 0, class: 'text-box text-box--i18n text-box--small'
= inline_svg_tag 'workarea/admin/icons/help.svg', class: 'svg-icon svg-icon--small svg-icon--blue', data: { tooltip: { content_id: '#available-inventory-info' }.to_json }
#available-inventory-info.tooltip-content
  %p This is the total available inventory for all SKUs in the product. If a SKU has an inventory policy of "Ignore", it was unlimited available inventory.
