/*------------------------------------*\
    #CLEARFIX
\*------------------------------------*/

.clearfix,
%clearfix {
    &:after {
        display: table;
        clear: both;
        border-spacing: 0;
        content: '';
    }
}
