/*------------------------------------*\
    #IMAGE-REPLACEMENT
\*------------------------------------*/

.image-replacement,
%image-replacement {
    display: block;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}
