#button-object.style-guide__subsection

  %h3= link_to_style_guide('objects', 'button')

  %p Resets an element's styling, preparing it to become a button.

  %p Used by the #{link_to_style_guide('components', 'button', true)} and #{link_to_style_guide('components', 'text_button', true)} components, by default. Those components handle the "design" aspects of the button, such as <code>color</code> and <code>background</code>

  %p See the aforementioned component's unit tests for more examples.
