.auto-dialog
  #content-1 Dialog Content 1

.auto-dialog
  #content-2 Dialog Content 2

.auto-dialog
  #content-3 Dialog Content 3

#manual-dialog
  #content-4 Dialog Content 4

#fragment-dialog
  #content-5 Dialog Content 5

= form_tag '/qux/quux', id: 'form-dialog'
