.pdp
  .view
    %a.reviews-link{ href: '/products/some-product#reviews', data: { scroll_to_button: '' } }
      Read Reviews
    #reviews
      %h1 Reviews for "Current Product"

.ui-dialog
  .view
    %nav
      %a.reviews-link{ href: '/products/some-product#reviews', data: { scroll_to_button: '' } }
        Read Reviews
      %a.returns-link{ href: '/products/some-product#returns', data: { scroll_to_button: '' } }
        Return Policy
      %a.external-link{ href: '/products/some-product#missing', data: { scroll_to_button: '' } }
        Missing ID
    #returns
      %h1 Return Policy
      %p This is the return policy for "Quickview Product"
