/*------------------------------------*\
    #BASE
\*------------------------------------*/

body {
    margin: 0;
    padding: 0 !important;
}

body > center {
    width: 100%;
}

body > center,
body > center > table {
    text-align: left;
}

// Required to ensure background is properly displayed across clients
body,
body > center,
.mso-wrapper {
    background: $email-background-color;
}

table {
    border: 0;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
}

td, th {
    vertical-align: top;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
}

img {
    height: auto;
    font-family: sans-serif;
    font-size: $font-size;
    line-height: $line-height;
    color: invert($background-color);
}

a {
    color: $link-color;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: $font-family;
}

p {
    font-size: $font-size;
    line-height: $line-height;
}
