<div class="button-property">
    <div class="value">
        <input type="checkbox" id="same_as_shipping" name="same_as_shipping">
    </div>
    <label class="button-property__name" for="same_as_shipping">
        <span><%= I18n.t('workarea.storefront.checkouts.same_as_shipping') %></span>
    </label>
</div>
