---
body_class: body--flat
---

<div class='section [ white-text align-center ]'>
  <h1>Definitely Not An Error</h1>
  <p><strong>Totally not a 404.</strong></p>
</div>

<p class='section align-center'>
  <%= image_tag '404.jpg', width: 600 %>
</p>

