= append_partials('storefront.deletion_complete_mailer.top')

%tr
  %td
    %h1= t('workarea.storefront.email.deletion_complete.heading')

    %p= t('workarea.storefront.email.deletion_complete.info')

= append_partials('storefront.deletion_complete_mailer.bottom')
