/*------------------------------------*\
    #INLINE-LIST
\*------------------------------------*/

%inline-list,
.inline-list {
    margin:  0;
    padding: 0;
    list-style: none;

    > li {
        display: inline-block;
    }
}

%inline-list--commas,
.inline-list--commas {
    > li::after {
        content: ',';
    }

    > li:last-of-type::after {
        content: '';
    }
}

