/*------------------------------------*\
    #FONTS
\*------------------------------------*/

/**
 * Font stacks
 */

$font-family:               sans-serif !default;


/**
 * Text sizes
 */

$font-size:                 14px !default;
$form-control-font-size:    16px !default;
$line-height:               1.5 !default;
