/*------------------------------------*\
    #FONTS
\*------------------------------------*/

@font-face {
    font-family: 'Spark Dot-Line';
    src: font-url('workarea/admin/spark_dotline_medium.woff2') format('woff2'),
         font-url('workarea/admin/spark_dotline_medium.woff') format('woff');
    font-weight: 400;
}
