%p.release-changeset__content
  %span.release-changeset__field= t('workarea.admin.fields.active_segments')
  %span.release-changeset__old!= segment_links(old_value).join(', ')
  %span.release-changeset__new!= segment_links(new_value).join(', ')
