%p.release-changeset__content
  %span.release-changeset__field= t('workarea.admin.fields.category_id')
  %span.release-changeset__old!= category_links(old_value).join(', ')
  %span.release-changeset__new!= category_links(new_value).join(', ')
