%p.release-changeset__content
  %span.release-changeset__field= t('workarea.admin.fields.shipping_service_id')
  %span.release-changeset__old!= edit_shipping_service_path(old_value)
  %span.release-changeset__new!= edit_shipping_service_path(new_value)
