/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a,
%link,
.link {
    color: $link-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
