#box.style-guide__subsection

  %h3= link_to_style_guide('components', 'box')

  %p should visually style a section like a box:
  .style-guide__example-block
    .box
      .box__body
        Semiotics drone systemic vehicle tower apophenia paranoid bicycle post-digital artisanal. Grenade footage media franchise crypto-bomb vinyl apophenia j-pop drugs courier bicycle uplink. 3D-printed physical carbon-space nano-franchise dolphin warehouse euro-pop. Boat engine sentient-ware soul-delay human carbon courier spook claymore mine media plastic euro-pop savant. Shanty town free-market shrine dissident car futurity vehicle jeans savant-ware order-flow.

  %p should support an optional header:
  .style-guide__example-block
    .box
      .box__header
        %h3.box__heading Digital semiotics
      .box__body
        Drone corporation camera human ablative assault denim. Refrigerator drone marketing pre-artisanal sentient soul-delay construct chrome. Papier-mache man smart-saturation point 3D-printed tower katana-ware pen marketing sub-orbital spook neon BASE jump. Military-grade girl silent tiger-team office narrative film jeans 8-bit claymore mine nodality dome vinyl physical nodal point courier.

  %p should support an optional action within header:
  .style-guide__example-block
    .box
      .box__header
        .box__action= button_tag 'Drone', class: 'button'
        %h3.box__heading Disposable franchise.
      .box__body
        Smart-augmented reality neural-ware RAF. Concrete dome construct shrine jeans girl tanto courier drugs systema face forwards convenience store cartel. Otaku Tokyo dissident assassin crypto-tiger-team plastic savant jeans. Market faded nodality monofilament uplink 8-bit paranoid geodesic city military-grade dolphin lights concrete spook. Weathered sub-orbital military-grade corrupted Chiba human shanty town saturation point gang math-rifle chrome grenade alcohol numinous. Free-market refrigerator numinous dome shanty town kanji neon digital. Into knife disposable crypto-drugs spook alcohol neural marketing cyber-smart.
