#html-content-block.style-guide__subsection

  %h3= link_to_style_guide('components', 'html_content_block')

  %p A content block that wraps user-set HTML

  .style-guide__example-block
    .html-content-block
      %h1 HTML Content Block
      %p Decay Shibuya euro-pop weathered rebar saturation point nano-vehicle carbon modem papier-mache 3D-printed corrupted RAF. Soul-delay systemic shrine render-farm computer alcohol tattoo post-voodoo god free-market sub-orbital DIY assassin. Pen katana monofilament papier-mache garage euro-pop apophenia drone bicycle hacker A.I. systema camera advert. Table beef noodles augmented reality military-grade hotdog tiger-team market computer. Boat range-rover dead film assault crypto-uplink. Range-rover-ware papier-mache franchise sign saturation point Kowloon realism carbon film. Rebar artisanal woman sensory bicycle courier range-rover Chiba free-market sprawl car table tube BASE jump soul-delay tanto.
