#text-content-block.style-guide__subsection

  %h3= link_to_style_guide('components', 'text_content_block')

  %p A content block that wraps user-set text

  .style-guide__example-block
    .text-content-block
      %h1 Text Content Block
      %p Cardboard shanty town tiger-team Tokyo augmented reality boy computer spook cyber-dead garage refrigerator carbon vinyl DIY singularity. Neural euro-pop hacker vinyl plastic franchise corrupted crypto-network bomb rebar sensory silent. Advert convenience store footage sensory knife Tokyo RAF singularity artisanal dead Legba neon office garage paranoid computer. Courier human plastic concrete 3D-printed boat cartel drone man assault stimulate vinyl. Digital 3D-printed nano-military-grade corporation dolphin monofilament advert vinyl semiotics tank-traps boat savant numinous. Decay hacker corrupted shoes augmented reality post-cartel warehouse long-chain hydrocarbons-space woman free-market. Drone hotdog camera motion denim computer vinyl shoes corrupted office.
