#ui-helper-hidden-accessible.style-guide__subsection

  %h3= link_to_style_guide('components', 'ui_helper_hidden_accessible')

  %p This component is used by many jQuery UI widgets. It simply extends the #{link_to_style_guide('trumps', 'visually_hidden', true)} trump.

