#ui-dialog-image.style-guide__subsection

  %h3= link_to_style_guide('components', 'ui_dialog_image')

  %p An example of the default jQuery UI dialog widget instance, but specifically styled to house an image.
