#align-left.style-guide__subsection

  %h3= link_to_style_guide('typography', 'align', false, 'align-left')

  %p should align text left:
  .style-guide__example-block
    %p.align-left Left Aligned


#align-center.style-guide__subsection

  %h3= link_to_style_guide('typography', 'align', false, 'align-center')

  %p should align text center:
  .style-guide__example-block
    %p.align-center Center Aligned


#align-right.style-guide__subsection

  %h3= link_to_style_guide('typography', 'align', false, 'align-right')

  %p should align text right:
  .style-guide__example-block
    %p.align-right Right Aligned
