#fonts.style-guide__subsection

  %h3= link_to_style_guide('typography', 'fonts')

  %p These are the fonts available to the front-end.

  %p should provide browser default 'sans-serif' font:
  .style-guide__example-block
    %p{ style: 'font-family: "sans-serif"; font-weight: normal;' } sans-serif
