#tables-base.style-guide__subsection

  %h3= link_to_style_guide('base', 'tables_base')

  %p Global table styling.

  %p should style a horizontally oriented table:
  .style-guide__example-block
    %table
      %thead
        %tr
          %th Heading 1
          %th Heading 2
          %th Heading 3
          %th Heading 4
          %th Heading 5
      %tbody
        %tr
          %td Data 1
          %td Data 2
          %td Data 3
          %td Data 4
          %td Data 5

  %p should style a vertically oriented table:
  .style-guide__example-block
    %table
      %tbody
        %tr
          %th Heading 1
          %td Data 1
          %td Data 2
          %td Data 3
          %td Data 4
          %td Data 5
        %tr
          %th Heading 2
          %td Data 1
          %td Data 2
          %td Data 3
          %td Data 4
          %td Data 5
        %tr
          %th Heading 3
          %td Data 1
          %td Data 2
          %td Data 3
          %td Data 4
          %td Data 5
        %tr
          %th Heading 4
          %td Data 1
          %td Data 2
          %td Data 3
          %td Data 4
          %td Data 5
        %tr
          %th Heading 5
          %td Data 1
          %td Data 2
          %td Data 3
          %td Data 4
          %td Data 5
