#avatar.style-guide__subsection

  %h3= link_to_style_guide('components', 'avatar')

  %p An visually unique icon to represent a user. Usually rendered through a helper which adds a unique background color based on that user's email address.

  .style-guide__example-block
    %span.avatar BC

#avatar--large.style-guide__subsection

  %h3= link_to_style_guide('components', 'avatar__large')

  %p Increases the size of the avatar

  .style-guide__example-block
    %span.avatar.avatar--large BC
