#expandable.style-guide__subsection

  %h3= link_to_style_guide('components', 'expandable')

  %p crops the height of an element at a given threshold, providing a smooth gradient to the background color and a button allowing users to expand the element. This UI is enhanced via JavaScript.

  .style-guide__example-block
    %pre{ data: { expandable: 50 } }
      %code
        Render-farm geodesic bicycle
        chrome monofilament construct
        nano-augmented reality. Man
        Chiba pistol range-rover
        franchise systemic apophenia
        realism knife sentient Kowloon
        Shibuya computer garage
        singularity. Faded military-
        grade sentient systemic wonton
        soup fluidity vehicle long-chain
        hydrocarbons. Long-chain
        hydrocarbons decay gang hacker
        Tokyo silent smart-shrine vehicle
        market nodal point man apophenia
        corrupted human.

