#state.style-guide__subsection

  %h3= link_to_style_guide('components', 'state')

  %p Reserves space for a state indicator, which is added by a modifier (below).

  .style-guide__example-block
    %span.state Lorem ipsum

#state--pending.style-guide__subsection

  %h3 state--pending

  %p Modifies state to change the background color.

  .style-guide__example-block
    %span.state.state--pending Lorem ipsum

#state--danger.style-guide__subsection

  %h3 state--danger

  %p Modifies state to change the background color.

  .style-guide__example-block
    %span.state.state--danger Lorem ipsum

#state--done.style-guide__subsection

  %h3 state--done

  %p Modifies state to change the background color.

  .style-guide__example-block
    %span.state.state--done Lorem ipsum
