#tabs.style-guide__subsection

  %h3= link_to_style_guide('components', 'tabs')

  %p Provides structure & styling necessary for jQuery UI Tabs to work effectively.

  %p Functionality provided by <code>WORKAREA.tabs</code>.

  .style-guide__example-block
    .tabs
      .tabs__panel
        %span.tabs__heading Tab 1
        %p Panel 1
      .tabs__panel
        %span.tabs__heading Tab 2
        %p Panel 2

