#ui-accordion.style-guide__subsection

  %h3= link_to_style_guide('components', 'ui_accordion')

  %p An example of the default jQuery UI accordion widget instance.

  .style-guide__example-block
    %div{ data: { style_guide_accordion: '' } }
      %h3 Section 1
      %div
        %p Bridge realism BAMA count zero interrupt simstim deck decay cyberspace Freeside ablative spook pre-marketing monofilament free-market Maas Biolabs modem pistol silent bridge BAMA.
      %h3 Section 2
      %div
        %p  Neurosurgery RAM man gang apophenia long-chain hydrocarbons savant monofilament nano-dissident refrigerator military-grade savant cardboard San Francisco urban media neon RAM suit drone.
      %h3 Section 3
      %div
        %p Lorem gibson warp AI pistol cartel Bosozoku shanty town savant bridge artisanal Bosozoku arcology holoprojector weathered grenade pistol augmented reality Mole IX geodesic.
        %ul
          %li Lorem gibson suit personality silent savant ablative system jacket.
          %li Blue Nine warp Tessier-Ashpool sprawl faded car paranoid pen industrial grade weathered carbon ICE long-chain hydrocarbons woman j-pop.
          %li Lorem gibson black temperfoam electro-electro-Bosozoku courier memory city rain stellar film memory denim boy refrigerator icebreaker woman Mole IX euro-pop car SIN.
