#wysiwyg.style-guide__subsection

  %h3= link_to_style_guide('components', 'wysiwyg')

  %p Provides styling for an instance of the WYSIWYG editor.

  %p Progressively enhanced by the <code>WysiwygController</code>.

  .style-guide__example-block
    .wysiwyg{ data: { controller: 'wysiwyg', wysiwyg: '' } }
      = text_area_tag 'wysiwyg', nil, id: nil, class: 'text-box text-box--multi-line', data: { target: 'wysiwyg.editor' }
