.grid.grid--auto.grid--right.grid--middle
  - if model.product.present?
    .grid__cell= link_to t('workarea.admin.shipping_skus.show.view_product'), url_for(model.product), local_assigns[:html_options]
