.property
  = label_tag 'rule_locations', t('workarea.admin.fields.locations'), class: 'property__name'
  = select_tag 'rule[locations]', options_for_select(selected_segment_geolocation_options(rule.locations), rule.locations), multiple: true, data: { remote_select: { options: { tags: true }, source: geolocation_options_segment_rules_path(format: :json) }.to_json }
  %span.property__note= t('workarea.admin.segment_rules.fields.geolocation.note')
