%span From
= number_field_tag 'rule[minimum]', rule.minimum, class: 'text-box text-box--small'
%span to
= number_field_tag 'rule[maximum]', rule.maximum, class: 'text-box text-box--small'
%span visits
