.property
  = label_tag 'rule_locations', 'Customer tags', class: 'property__name'
  = text_field_tag 'rule[tag_list]', rule.tag_list, class: 'text-box text-box--wide'
  %span.property__note= t('workarea.admin.segment_rules.tags_note')
