#fonts.style-guide__subsection

  %h3= link_to_style_guide('typography', 'fonts')

  %p These are the fonts available to the front-end.

  %p should provide 'Roboto' via <code>font-weight: normal</code>:
  .style-guide__example-block
    %p{ style: 'font-family: "Roboto"; font-weight: normal;' } Roboto

  %p should provide 'Roboto Medium' via <code>font-weight: 500</code>:
  .style-guide__example-block
    %p{ style: 'font-family: "Roboto"; font-weight: 500;' } Roboto Medium

  %p should provide 'Roboto Bold' via <code>font-weight: bold</code>:
  .style-guide__example-block
    %p{ style: 'font-family: "Roboto"; font-weight: bold;' } Roboto Bold

  %p should provide 'Roboto Mono' via <code>font-weight: normal</code>:
  .style-guide__example-block
    %p{ style: 'font-family: "Roboto Mono"; font-weight: normal;' } Roboto Mono

  %p should provide 'Roboto Mono Bold' via <code>font-weight: bold</code>:
  .style-guide__example-block
    %p{ style: 'font-family: "Roboto Mono"; font-weight: bold;' } Roboto Mono Bold
