<div>
    <div class="view">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat, lacus a aliquet tristique, libero magna dapibus tortor, non sagittis velit mauris sed lectus. Nam metus enim, commodo vel pharetra at, rutrum vel mi. Donec et tellus vestibulum, semper felis nec, bibendum justo. Vivamus interdum quam purus, eu egestas purus faucibus commodo. </p>
    </div>
</div>
