<span class="value__note">
    <button type="button" class="text-button" data-reveal-password='show'><%= I18n.t('workarea.reveal_password.show') %></button>
    <button type="button" class="text-button hidden" data-reveal-password='hide'><%= I18n.t('workarea.reveal_password.hide') %></button>
</span>
