/*------------------------------------*\
    #ASSET-PICKER-FIELD
\*------------------------------------*/

.asset-picker-field {}

    .asset-picker-field__cell {
        display: inline;
        margin: 0 8px 0 0;
        white-space: nowrap;
    }
