/*------------------------------------*\
    #CHART-LEGEND
\*------------------------------------*/

$chart-legend-list-item-disabled-opacity: .25 !default;

.chart-legend {}

    .chart-legend__list {
        @extend %inline-list;
    }

        .chart-legend__list-item {
            margin: 0 $spacing-unit;
        }

        .chart-legend__list-item--disabled {
            opacity: $chart-legend-list-item-disabled-opacity;
        }
