%p.discount__node-group
  %span.discount__node Take
  / TODO: How much should it discount?
  %span.discount__node off
  / TODO: What do you want to discount from?
  %span.discount__node when
  / TODO: What condition should this require?
  %span.discount__node of the following
  / TODO: What items should be discounted? (product_ids, category_ids, etc.)
  %span.discount__node is purchased.
