/*------------------------------------*\
    #BACK-TO-TOP-BUTTON
\*------------------------------------*/

$back-to-top-button-bg-color:  $white !default;

$back-to-top-button-border:  1px solid $link-color !default;

.back-to-top-button {
    display: inline-block;
    padding: ($spacing-unit / 2) $spacing-unit;
    position: fixed;
    right: $spacing-unit * 4;
    bottom: 0;
    z-index: index($components, back-to-top-button);
    background: $back-to-top-button-bg-color;
    border: $back-to-top-button-border;
    transform: translateY(100%);
}

.back-to-top-button--visible {
    transform: translateY(-150%);
}
