/*------------------------------------*\
    #BUTTON-CONTENT-BLOCK
\*------------------------------------*/

.button-content-block {}

.button-content-block--left { text-align: left; }
.button-content-block--center { text-align: center; }
.button-content-block--right { text-align: right; }
