/*------------------------------------*\
    #CHECKOUT-SHIPPING
\*------------------------------------*/

.checkout-shipping {}

    .checkout-shipping__section {
        margin-bottom: $vertical-margin;
    }

        .checkout-shipping__heading {}
