/*------------------------------------*\
    #CHECKOUT-PAYMENT
\*------------------------------------*/

$checkout-payment-method-selected-color:  $highlight-color !default;
$checkout-payment-method-selected-border: 2px solid $checkout-payment-method-selected-color;

.checkout-payment {}

    .checkout-payment__section {
        margin-bottom: $vertical-margin;
    }

    .checkout-payment__secondary {}

        .checkout-payment__secondary-method {}

    .checkout-payment__primary-payment {}

        .checkout-payment__primary-method-group {
            margin-bottom: $vertical-margin;
        }

            .checkout-payment__primary-method {
                padding: ($spacing-unit * 2);
            }

                .checkout-payment__primary-method-description {}

                .checkout-payment__primary-method-edit {
                    .js & {
                        display: none;
                    }

                    .checkout-payment__primary-method--selected & {
                        .js & {
                            display: block;
                        }
                    }
                }

            .checkout-payment__primary-method--selected {
                border: $checkout-payment-method-selected-border;
            }

    .checkout-payment__cart-items {}

    .checkout-payment__place-order {}
