/*------------------------------------*\
    #IMAGE-GROUP-CONTENT-BLOCK
\*------------------------------------*/

.image-group-content-block {}

    .image-group-content-block__link {}

    .image-group-content-block__image {}
