/*------------------------------------*\
    #INLINE-FORM
\*------------------------------------*/

.inline-form {}

    .inline-form__cell {
        display: inline-block;
        margin: 0;
        vertical-align: top;
    }
