%li.release-changeset__list-item
  %span.release-changeset__field= field.titleize
  %span.release-changeset__old= change_display_value(old_value)
  %span.release-changeset__new= change_display_value(new_value)
