<span class="value__note">
  <button type="button" class="text-button" data-action="click->reveal_password#show" data-target="reveal_password.show"><%= I18n.t('workarea.reveal_password.show') %></button>
  <button type="button" class="text-button hidden" data-action="click->reveal_password#hide" data-target="reveal_password.hide"><%= I18n.t('workarea.reveal_password.hide') %></button>
</span>
