---
http_interactions:
- request:
    method: get
    uri: https://www.recaptcha.net/recaptcha/api/siteverify?remoteip=127.0.0.1&response=<%= response %>&secret=<%= secret_key %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "success": <%= success %>,
          "challenge_ts": "2020-12-09T18:01:14Z",
          "hostname": "localhost",
          "score": <%= respond_to?(:score) ? score : 0 %>,
          "action": "<%= respond_to?(:action) ? action : '' %>"
        }
  recorded_at: Wed, 09 Dec 2020 17:54:18 GMT
recorded_with: VCR 2.9.3
